.achievements {
    @include xs-block() {
       position: relative;        
       z-index: 1;
       &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: transparentize(color(green), 0.1);
       }
    }
    @include md-block() {
        background-image: url('/img/achievementsBg.jpg');
    }
    &__wrapper {
        @include wrapper();
        @include xs-block() {
            display: flex;            
            justify-content: center;
            flex-wrap: wrap;
            padding: 43px 0 0;
            position: relative;
            z-index: 2;
        }        
    }
    &__item {
        @include size-xs(12);
        @include size-sm(6);
        @include size-md(3);
        @include xs-block() {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: color(white);
            margin: 90px 0;
            &::before {
                content: '';
                position: absolute;
                width: 135px;
                height: 160%;
                border: 1px dashed color(white);
                border-radius: 10px;
                // transform: rotate(-36deg);
            }            
            &:nth-child(1) {
                &::after {
                    display: none;
                }
            }
        }        
        @include md-block() {
            &::before {                
                width: 172px;                
                // transform: rotate(-30deg);
            }
        }        
    }
    &__icon {
        @include xs-block() {
            font-size: 5rem;
        }
    }
    &__count {        
        @include md-block() {
            font-size: 3rem;
        }       
    }
    &__text {
        @include xs-block() {
            color: color(white);
        }        
    }
}