.main {
    @include xs-block() {
        margin: 30px 0 70px;
    }

    @include md-block() {
        margin: 60px 0 140px;
    }

    &__inner {
        @include xs-block() {
            @include wrapper();            
        }       
    }

    &__content {        
        display: grid;        

        @include xs-block() {
            // display: flex;
            // flex-wrap: wrap;
            // justify-content: center;
            // align-items: center;
            // margin: 0;
        }

        @include md-block() {
            grid-template: 1fr / repeat(3, 4fr);
            margin: 0 auto;
            justify-content: center;           
        }
    }

    &__post {
        @include size-xs(12);
        @include size-sm(12);
        @include size-md(12);        

        @include xs-block() {
            max-width: 486px;
            margin: 80px auto 0;
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);

            &:hover {
                box-shadow: 0px 30px 60px 0 rgba(0, 0, 0, 0.05);

                .main__title,
                .main__more {
                    color: color(aqua);
                }
            }
        }        
    }

    &__img {
        background-size: cover;
        @include xs-block() {
            width: 270px;            
        }
        @include md-block() {
            width: 370px;            
        }
    }

    &__text {
        @include xs-block() {
            padding: 40px 20px;
            font-family: "Poppins", sans-serif;
        }
    }

    &__title {
        @include xs-block() {
            font-size: 1.25rem;
            color: color(black);            
        }

        @include md-block() {
            font-size: 1.5rem;
        }
    }

    &__details {
        @include xs-block() {
            display: flex;
            margin: 17px 0 26px;
            font-size: 0.875rem;
        }
    }

    &__author {
        @include xs-block() {
            font-family: "Poppins", sans-serif;
            text-transform: capitalize;
            margin-right: 7px;

            &--strong {
                font-family: "Poppins", sans-serif;
                text-transform: capitalize;
                font-weight: 700;
            }
        }
    }
    
    &__excerpt {
        @include xs-block() {
            margin: 16px 0;
            line-height: 1.6;
            text-align: left;
        }
    }

    &__more {
        @include xs-block() {
            font-weight: 700;
            text-transform: uppercase;
            color: color(grey);
            text-decoration: none;
            margin: auto 0;

            &:hover {
                color: color(aqua);
            }
        }
    }
}

// .sidebar {
//     @include size-md(4);
//     @include size-lg(4);

//     @include xs-block() {
//         display: none;
//     }

//     @include md-block() {
//         display: block;
//         position: sticky;
//         height: 100vh;
//         overflow-y: scroll;
//         top: 0;
//         margin: 80px 0 0;
//         padding-right: 80px;
//     }

//     &__form {
//         display: flex;
//         margin: 0 0 78px;
//     }

//     &__input {
//         @include md-block() {
//             width: 80%;
//             height: 50px;
//             border-radius: 5px 0 0 5px;
//             border: solid 1px #d0d0d0;
//             background-color: #d0d0d0;
//             font-family: "Poppins", sans-serif;
//             padding: 0 16px;
//             color: color(grey);
//         }

//         @include lg-block() {
//             height: 55px;
//         }
//     }

//     &__submit {
//         @include md-block() {
//             width: 20%;
//             height: 52px;
//             background-color: color(green);
//             border: none;
//             border-radius: 0 5px 5px 0;
//             font-size: 1rem;
//             color: color(white);

//             &:hover {
//                 cursor: pointer;
//             }

//             @include lg-block() {
//                 height: 57px;
//             }
//         }

//     }

//     &__title {
//         color: #474747;
//         text-transform: capitalize;
//         font-size: 1.5rem;
//         margin: 0 0 32px;
//     }

//     &__list-item {
//         margin: 26px 0 0;

//         &:first-child {
//             margin-top: 0;
//         }
//     }

//     &__link {
//         font-family: "Poppins", sans-serif;
//         color: color(grey);
//         text-decoration: none;
//         text-transform: capitalize;

//         &:hover {
//             color: color(green);
//         }
//     }

//     &__recent-post {
//         margin: 75px 0 80px;
//     }

//     &__post {
//         display: flex;
//         justify-content: flex-start;
//         margin: 15px 0;

//     }

//     &__subtitle {
//         margin-left: 30px;
//         line-height: 30px;

//         a {
//             font-family: "Poppins", sans-serif;
//             font-weight: 700;
//             text-decoration: none;
//             color: #474747;
//         }
//     }

//     &__tags {
//         max-width: 315px;
//     }

//     &__tag {
//         margin: 5px 10px 0 0;
//         padding: 4px 15px;
//         border: 1px solid #d0d0d0;
//         font-family: "Poppins", sans-serif;
//         text-decoration: none;
//         line-height: 2.7;
//         color: #474747;

//         &:hover {
//             background-color: color(green);
//             color: color(white);
//         }
//     }
// }

// @include xs-block() {}
// @include sm-block() {}
// @include md-block() {}
// @include lg-block() {}