.features {
  @include md-block() {
    padding: 140px 0;
  }
  &__wrapper {
    @include xs-block() {
      @include wrapper();
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    @include md-block() {
        flex-wrap: nowrap;
    }
  }
  &__img {
    // @include size-xs(12);
    // @include size-md(6);
    @include xs-block() {
      position: relative;
    //   height: 460px;
    }
    &--device {
      @include lg-block() {
        width: 648px;
      }
    }
}
    &__subject {
      @include size-xs(12);
      @include size-md(6);
      @include sm-block() {
        margin: 60px 0 0;
      }
      @include lg-block() {
        margin: 0;
      }
    }
    &__title {
      @include xs-block() {
        font-size: 1.5rem;
        color: color(black);
        white-space: normal;
        margin: auto;
        text-align: center;
      }
      @include md-block() {
        font-size: 2rem;
        text-align: left;
      }
      &--blue {
        color: color(aqua);
      }
      &--small {
        @include xs-block() {
          margin: 20px 0 0;
          text-transform: uppercase;
          font-size: 1.125rem;
        }
      }
    }
    &__subtitle {
      @include xs-block() {
        margin: 20px 0 0;
        line-height: 1.6;
        text-align: center;

        &--blue {
          color: color(aqua);
        }
      }
      @include md-block() {
        text-align: left;
      }
    }
    &__inner {
      @include xs-block() {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      @include md-block() {
        justify-content: space-between;
        align-items: flex-start;
      }
    }
    &__item {
      @include size-md(6);
      @include xs-block() {
        text-align: center;
        margin: 30px auto;
      }
      @include md-block() {
        text-align: left;
        margin: 77px 0 0;
      }
    }
    &__button {
      @include xs-block {
        display: block;
        margin: 30px auto 0;
        border: 1px solid color(aqua);
        background: transparent;
        border-radius: 10px;
        padding: 10px;
        max-height: 60px;
        font-size: 1rem;
        text-align: left;
        color: color(white);
        max-width: 190px;
        color: color(aqua);
        &:hover {
          cursor: pointer;
          background: color(green);
          border-color: color(green);
          a {
            color: color(white);
          }
        }
        a {
          @include font(inherit);
          text-decoration: none;
        }
      }
    }  
}