.feedback {
    @include xs-block() {
        padding: 80px 0 40px;
    }
    @include lg-block() {
        padding: 134px 0 70px;
    }
    &__wrapper {
        @include wrapper();
    }
    &__title {
        @include xs-block() {
            font-size: 1.5rem;
            color: color(black);
            text-transform: capitalize;
            text-align: center;
        }        
        @include md-block() {
            font-size: 2.7rem;
            margin: 0 0 30px;            
        }
        &--blue {
            color: color(aqua);
        }        
    }
    &__subtitle {
        @include xs-block() {
            white-space: pre-wrap;
            text-align: center;
            line-height: 1.6;
        }        
    }
    &__slider {
        @include xs-block() {
            display: flex;
            // flex-direction: column;
            justify-content: space-between;
            align-items: center;
            // flex-wrap: wrap;
            margin: 40px 0 30px;
        } 
        @include md-block() {
            margin: 76px 0 60px;
        }       
    }
    &__item {
        @include size-xs(12);
        @include size-sm(4);
        @include size-md(4);
        @include size-lg(4);
        @include xs-block() {             
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
            padding: 36px 23px;
            margin: 30px 0 30px;
            text-align: center;
            &:hover {
                box-shadow: 0px 30px 60px 0 rgba(0, 0, 0, 0.05);
                .feedback__name {
                    color: color(green);
                }
            }
        }
        @include md-block() {
            padding: 47px 44px;
            margin: 30px 1px 30px;
        }     
    }
    &__photo {
        @include xs-block() {
            margin: 0 auto 24px;
        }
    }
    &__name {
        @include xs-block() {
            color: color(aqua);
            font-size: 1.125rem;
        }
    }
    &__company {
        @include xs-block() {
            font-family: 'Poppins', sans-serif;            
        }
        @include md-block() {
            font-size: 1.125rem;
        }
    }
    &__text {
        @include xs-block() {
            text-align: justify;
            font-style: italic;
            font-weight: 500;
            margin: 20px 0 18px;
        }
        @include md-block() {
            margin: 40px 0 28px;
        }        
    }
    &__rate {
        @include xs-block() {
            display: flex;
            justify-content: center;
            color: color(yellow);
            font-size: 0.75rem;
        }     
    }
    &__star {
        @include xs-block() {
            margin: 0 7px 0;
        }
    }
    &__nav {
        @include bullets();
    }
}