.header {    
    position: relative;
    background-image: url('../img/abstract-astronomy.jpg');
    color: color(white);    
    z-index: 1;
    padding: 57px 0;    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: transparentize(color(violet), 0.3);
        z-index: 1;
    }
    // &--blog {
    //     @include xs-block() {
    //         position: relative;
    //         background-image: url('../img/blog/headerBgBlog.jpg');
    //         background-size: cover;
    //         color: color(white);
    //         z-index: 1;
    //         padding: 57px 0;
    //         &::after {
    //             content: '';
    //             position: absolute;
    //             top: 0;
    //             left: 0;
    //             right: 0;
    //             width: 100%;
    //             height: 100%;
    //             background-color: transparentize(color(green), 0.3);
    //             z-index: 1;
    //         }
    //     }
    // }
    &__wrapper {
        @include wrapper();        
        position: relative;
        z-index: 2;
    }
    &__inner {
        @include xs-block() {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 33% 33% 33%;
            align-items: center;
        }
        @include md-block() {
            grid-template-columns: 20% 80%;
        }       
    }
    &__logo {
        // @include size-xs(6);
        // @include size-sm(6);
        // @include size-md(4);
        // @include size-lg(4);
        color: color(white);
        font-size: 1.25rem;
        a {
            color: inherit;
            text-decoration: none;
        }
        h1 {
            font-size: inherit;
        }
    }
    &__nav {
        // @include size-xs(6);
        // @include size-sm(6);
        // @include size-md(8);
        // @include size-lg(8);
        justify-self: end;
    }
    &__menu {
        @include xs-block() {        
        position: absolute;
        display: none;
        top: 50px;
        right: 0;
        left: 0;            
        z-index: 1000;
        transition: ease-in 0.3s;
        overflow: auto;        
        background-color: transparentize(color(white), 0.55);
        padding: 15px 0;
        &.active {
            display: flex;
            justify-content: center;
            .header__button {
                display: none;
                }
            }
        }
        @include sm-block() {
            top: 15.5%;
            margin: 0 auto;
        }
        @include md-block() {
            position: relative;
            top: 0;
            right: 0;
            left: 0;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(4, 2fr) 2fr;
            grid-gap: 15px;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            margin: 0 auto;
            font-size: 1rem;
            margin-left: 70px;
        }            
    }
    &__item {
        @include xs-block() {
            margin: 0 auto;
            border-right: 1px solid color(grey);            
        }
        @include md-block() {
            margin: 0;
            text-align: center;
            border-right: none;
        }
    }
    &__link {
        @include xs-block() {
            @include font(black);
            text-align: center;
            font-size: 0.75rem;
            text-decoration: none;            
            margin-right: 10px;
            
        }
        @include md-block() {            
            color: color(white);
            font-size: 1rem;
        }
    }
    &__button {
        @include xs-block() {
            display: none;
        }
        @include md-block() {
            a {
                @include font(white);                
                text-decoration: none;
            }
            &:hover {
                cursor: pointer;
                background: color(green);
            }
            display: block;
            border: 1px solid color(white);
            border-radius: 32px;
            text-align: center;
            padding: 18px 10px;
            text-transform: uppercase;
            width: 170px;
            max-height: 60px;
            background: transparent;
            
            white-space: nowrap;
            line-height: 0.75rem;
            font-size: 0.75rem;
            justify-self: flex-end;
            margin-left: 60px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__hero {
        @include xs-block() {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin: 80px 0;
        }
    }
    &__subject {
        @include size-xs(12);
        @include size-sm(12);
        @include size-md(12);
        @include size-lg(12);
    }
    &__title {
        @include xs-block() {
            font-size: 1.5rem;
            color: color(white);
            text-transform: uppercase;
            text-align: center;            
        }
        @include md-block() {
            font-size: 2.7rem;
            text-align: left;
        }
        &--blue {
            color: color(aqua);
            .header__title--thin {
                @include xs-block() {
                    font-size: 1.5rem;
                }
                @include md-block() {
                    font-size: 2.7rem;
                }
            }
        }
        &--grey {
            @extend .header__title--blue;
            color: color(grey);
        }
        &--thin {
            @include xs-block() {
                font-size: 1.125rem;        
                font-weight: 300;
            }
            @include md-block() {
                font-size: 2rem;
            }
        }
    }
    &__subtitle {        
        @include xs-block() {            
            text-align: center;
            color: color(white);
            margin: 10px 0 20px;
        }
        @include md-block() {
            text-align: left;
        }
    }
    &__buttons {
        @include xs-block() {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        @include sm-block() {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
        }
        @include md-block() {
            justify-content: flex-start;
        }
    }
    &__btn {
        @include xs-block() {
            display: flex;
            border: 1px solid color(white);
            background: transparent;            
            border-radius: 10px;
            align-items: center;
            padding: 10px;
            max-height: 60px;
            text-align: left;
            color: color(white);
            max-width: 190px;
            margin: 30px 0 0;
            &:hover {
                cursor: pointer;
                background: color(green);
            }
            &:last-child {
                margin-right: 0;
            }
        }
        @include sm-block() {
            margin: 30px 15px 30px 0;
        }
        @include md-block() { 
            margin-right: 30px;           
            padding: 15px 18px;
        }
    }
    &__icon {
        @include xs-block() {
            font-size: 1.25rem;
        }
        @include md-block() {
            font-size: 1.75rem;
        }
    }
    &__text { 
        @include xs-block() {
            margin-left: 15px;
            line-height: 0.95;
            text-transform: uppercase;
            text-decoration: none;
            @include font(white);
            font-weight: 700;
            font-size: 0.7rem;
        }        
            @include md-block() {
                font-size: 1rem; 
            }
                    
    }
    &__img {
        // @include size-md(5);
        // @include size-lg(6);
        @include xs-block() {
            display: none;
        }
        @include md-block() {
            display: block;
            position: relative;
            height: 622px;
        }
    }
    &__phone {
        @include md-block() {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 300px;
            height: 100%;
            z-index: 2;
            &:nth-child(2) {
                right: 35.3%;
                bottom: 1%;
                width: 283px;
                height: 596px;
                z-index: 1;
                transform: rotate(-30deg);            
                clip-path: polygon(0 86%, 53.5% 40%, 100% 0, 0 0);
                overflow: hidden;
            }
        }
        @include lg-block() {
            width: 313px;

            &:nth-child(2) {
                width: 286px;
                right: 25.3%;
                transform: rotate(-29deg);
            }
        }
    }
}
.burger {
    @include xs-block() {
    display: block;
    width: 50px;
    height: 40px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid color(white);
    border-radius: 10px;
    justify-self: flex-end;

    &.active {
        display: inline-block;
        .burger__line:nth-child(1), .burger__line:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
           }
           .burger__line:nth-child(2) {
            transform: rotate(45deg);
           }
           .burger__line:nth-child(3) {
            transform: rotate(-45deg);
           }
    }

    &__line {
        display: block;
        position: absolute;
        height: 3px;
        width: 50%;
        opacity: 1;
        left: 12px;
        background: color(white);
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        border-radius: 9px;
        &:nth-child(1) {
            top: 8px;
        }

        &:nth-child(2) {
            top: 18px;
        }

        &:nth-child(3) {
            top: 18px;            
        }

        &:nth-child(4) {
            top: 28px;
        }            
    }
    }
    @include md-block() {
        display: none;
    }
}