.screenshot {    
    @include xs-block() {
        padding: 70px 0;
    }
    @include md-block() {
        padding: 140px 0;
    }
    &__wrapper {
        @include wrapper();
    }
    &__title {
        @include xs-block() {
            font-size: 1.5rem;
            color: color(black);            
            text-align: center;
        }        
        @include md-block() {
            font-size: 2.7rem;
        }
        &--blue {
            color: color(aqua);
        }        
    }
    &__subtitle {
        @include xs-block() {            
            text-align: center;
            line-height: 1.6;            
            margin: 10px 0 20px;
        }
        @include md-block() {
            white-space: pre-wrap;
            margin: 29px 0 77px;
        }
    }
    &__slide {
        @include lg-block() {
            margin: 0 15px;
        }
    }
    &__nav {
        @include bullets();
        margin: 60px auto 0;
    }
}